@import '../../variable.css';

.headerContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  .logoImg {
    width: 8.3rem;
    height: 1.2rem;
    margin-top: 1.6rem;
    margin-bottom: 1.95rem;
  }
}

.infoText {
  text-align: center;
  margin-bottom: 2rem;
  h1 {
    font-size: 1.5rem;
    line-height: 110%;
    color: var(--neutral-0);
    margin-bottom: 1rem;
  }
  p {
    font-size: 1rem;
    line-height: 120%;
    letter-spacing: -0.5px;
    color: var(--neutral-300);
  }
}

.formContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 2.5rem;
  label {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.6rem;
    margin-bottom: 1.2rem;
    color: var(--neutral-0);
    width: 100%;
  }
  .inputFile {
    display: none;
  }
  .uploadBtn {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 0.6rem;
    background-color: hsla(0, 0%, 100%, 10%);
    border: solid 1px var(--neutral-700);
    img {
      width: 1.5rem;
      height: 1.5rem;
    }
  }
  .uploadPhotoMsg {
    font-size: 0.6rem;
    line-height: 120%;
    letter-spacing: -0.2px;
    display: flex;
    align-items: center;
    gap: 0.4rem;
    .infoIcon {
      width: 0.8rem;
      height: 0.8rem;
    }
  }
  .inputField {
    width: 100%;
    height: 2.7rem;
    border: solid 2px var(--neutral-500);
    border-radius: 0.6rem;
    background-color: hsla(0, 0%, 100%, 8%);
    padding: 0 0.6rem;
    color: white;
  }
  .submitBtnLink {
    width: 100%;
  }
  .generateBtn {
    width: 100%;
    height: 2.7rem;
    padding: 0.8rem 1.2rem;
    border-radius: 0.6rem;
    border: none;
    background-color: var(--orange-500);
    font-family: inherit;
    color: var(--neutral-900);
    font-size: 1rem;
    letter-spacing: -0.3px;
    font-weight: 800;
  }
  .fileUploadImgInputContainer {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    align-items: center;
    text-align: center;
    font-size: 0.8rem;
    line-height: 120%;
    width: 100%;
    height: 6.3rem;
    padding: 0.6rem 0.8rem;
    margin-bottom: 0;
    border: dashed 2px var(--neutral-500);
    border-radius: 0.6rem;
    background-color: hsla(0, 0%, 100%, 8%);
  }
  .fileInputContainer {
    width: 100%;
    height: 6.3rem;
    padding: 0.6rem 0.8rem;
    border: dashed 2px var(--neutral-500);
    border-radius: 0.6rem;
    background-color: hsla(0, 0%, 100%, 8%);
  }
  .errorMessage {
    color: red;
    font-size: 0.8rem;
  }
}

@media screen and (min-width: 37.5rem) {
  .headerContainer {
    .logoImg {
      width: 10.4rem;
      height: 1.5rem;
    }
  }
  .infoText {
    width: 35.25rem;
    h1 {
      font-size: 3rem;
    }
    p {
      font-size: 1.2rem;
    }
  }
  .formContainer {
    min-width: 26.1rem;
  }
}

@media screen and (min-width: 72rem) {
  .headerContainer {
    .logoImg {
      width: 10.4rem;
      height: 1.5rem;
    }
  }
  .infoText {
    width: 44.5rem;
    h1 {
      font-size: 3rem;
    }
    p {
      font-size: 1.2rem;
    }
  }
  .formContainer {
    min-width: 23rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
