@font-face {
  font-family: 'Inconsolata';
  src: url('../public/assets/fonts/Inconsolata-VariableFont_wdth\,wght.ttf')
    format('truetype');
}

@import './variable.css';

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body,
#root {
  font-family: 'Inconsolata';
  font-size: 20px;
  min-width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
}
#root {
  padding: 0.8rem 0.8rem 0 0.8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

body {
  background-image: url('../public/assets/images/background-mobile.png');
  background-repeat: no-repeat;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.8rem 0.8rem 0 0.8rem;
}
.attribution {
  padding-bottom: 2rem;
  font-size: 0.65rem;
  color: var(--neutral-0);
  text-align: center;
  margin-top: 1rem;
  a {
    color: var(--neutral-0);
  }
}

@media screen and (min-width: 37.5rem) {
  body {
    background-image: url('../public//assets/images/background-tablet.png');
    background-repeat: no-repeat;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
  }
  #root {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (min-width: 72rem) {
  body {
    background-image: url('../public//assets/images/background-desktop.png');
    background-repeat: no-repeat;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
  }
  #root {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
